body {
  font-family: "Segoe UI", Roboto, Oxygen-Sans, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1rem; }

*, *::before, *::after {
  box-sizing: border-box; }

.name__count {
  border-radius: 8px;
  float: right;
  background: #999;
  color: white; }

.header-active {
  cursor: pointer; }
  .header-active:hover .header-active__text {
    color: #999; }

table .table__link-info {
  cursor: pointer;
  text-decoration: underline; }
  table .table__link-info:hover {
    color: #999; }

.updown {
  transform: rotate(180deg); }

.my-modal {
  position: fixed;
  box-sizing: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  background-color: rgba(160, 160, 160, 0.5);
  overflow: auto; }
  .my-modal-dialog {
    width: 55vw;
    max-width: 440px;
    max-height: 100%;
    height: auto;
    position: relative; }
  .my-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0; }
    .my-modal-content__header {
      padding: 15px;
      border-bottom: 1px solid #eee;
      font-weight: 600; }
    .my-modal-content__body {
      position: relative;
      padding: 15px; }
    .my-modal-content__footer {
      padding: 15px; }

.select-all {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee; }

.select-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.form__btn-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2; }
  .form__btn-close:hover {
    opacity: .5; }

.form__item {
  margin-bottom: 1rem; }

.form-control.error {
  border-color: #E02C14; }
  .form-control.error:focus {
    box-shadow: none; }

.validation-error {
  font-size: .8rem;
  color: #e02c14; }
