.form{
	&__btn{
		&-close{
			padding: 0;
			cursor: pointer;
			background:	transparent;
			border: 0;
			float: right;
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 1;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			opacity: .2;

			&:hover{
				opacity: .5;
			}
		}
	}

	&__item{
		margin-bottom: 1rem;
	}

	&-control.error{
	    border-color: #E02C14;

	    &:focus{
	    	box-shadow: none;
	    }
	}

}

.validation-error{
	font-size: .8rem;
	color: #e02c14;
}


