$gray: #999;

.name{

	&__count{
		border-radius: 8px;
		//display: block;
		float: right;
		background: $gray;
		color: white;
	}
}

.header-active{
	cursor: pointer;

	&:hover &__text{
		color: $gray;
	}
}

table{
	.table__link-info{
		cursor: pointer;
		text-decoration: underline;

		&:hover{
			color: $gray;
		}
	}
}

