body {

}
.head-menu {
    margin-top: 50px;
}
.add-product-modal{
    display:none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.add-product-modal-content {
    margin-top: 5rem;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    width: 30rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-product-modal-content p {
    margin-top: 25px;
    margin-bottom: 0;
}

.product-modal-header {
    border-radius: 5px 5px 0 0;
    width: inherit;
    margin: 0;
    padding: 0;
}

#name, #email, #count,#price {
    width: 250px;
    border-radius: 4px;
}

#cities-select {
    float: right;
    width: 150px;
}

.modal-content-buttons {
    margin-top: 120px;
}

.btn-save, .btn-yes {
    background:#90c843;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    font-size: 13pt;
    transition:background .4s;
    cursor:pointer;
    padding-bottom: 3px;
    padding-top: 3px;

}
.btn-save:hover, .btn-yes:hover{
    background:#6d9930;
}
.btn-save, .btn-cancel{
    width: 150px;
}
.btn-yes, .btn-no {
    width: 170px;
}

.col-actions {
    width: 300px;
}

.btn-cancel, .btn-no {
    background:#c84343;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    font-size: 13pt;
    transition:background .4s;
    cursor:pointer;
    padding-bottom: 3px;
    padding-top: 3px;
    float: right;
}
.btn-cancel:hover, .btn-no:hover{
    background:#943232;
}

.delete-product-modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.616);
}

.delete-modal-content {
    border-radius: 5px;
    padding: 2rem;
    width: 27rem;
    height:12rem;
    background-color: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.col-name, .col-price {
    position: relative;
}

.col-name:after, .col-price:after  {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #30dbf1;
    content: "";
    transition: width 0.2s ease-out;
}

.col-name:hover:after, .col-price:hover:after,
.col-name:focus:after, .col-price:focus:after {
    width: 100%;
}

.invalid{
    border-color: rgb(241, 67, 51);
}
.valid{
    border: 1px solid grey;
}